.header {
    -fx-background-color: #02b7b3;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.header > Label {
    -fx-text-fill: #464646;
}

BorderPane, DialogPane {
    -fx-background-color: #464646;
}

.footer {
    -fx-alignment: center;
    -fx-padding: 10 0;
}

.powered-by {
    -fx-font-size: 12px;
    -fx-text-fill: #8d8d8d;
    -fx-padding: 0 5 0 0;
}

.author {
    -fx-font-size: 14px;
    -fx-text-fill: #02b7b3;
}

Button {
    -fx-graphic-text-gap: 10px;
    -fx-text-fill: #464646;
    -fx-end-margin: 20px;
    -fx-background-color: #02b7b3;

    -fx-padding: 10 20;
    -fx-fill-width: 100;

    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

Button:focused {
    -fx-border-color: #93efec;
    -fx-border-width: 2px;
    /*-fx-background-color: radial-gradient(center 50% 50%, radius 400%, #02b7b3 10%, rgba(8, 0, 243, 0.37) 20%);*/
    /*-fx-text-fill: #000000;*/
}

DialogPane Label {
    -fx-text-fill: #fff;
}