Label {
    -fx-text-fill: #fff;
}

.description-scroll {
    -fx-hbar-policy: never;
    -fx-background-color: transparent;
}

.description-scroll .viewport {
    -fx-background-color: transparent;
}

.description-wrapper {
    -fx-background-color: #464646;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

.description {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.head {
    -fx-alignment: center;
}

.title {
    -fx-text-fill: #02b7b3;
    -fx-font-size: 30px;
}

.edit-button, .remove-button {
    -fx-font-size: 15;
    -fx-padding: 5 10;
}

.time {
    -fx-font-size: 18px;
    -fx-padding: 0 5em 10;
    -fx-border-color: #02b7b3;
    -fx-border-width: 2px;
    -fx-border-style: hidden none solid none;
}

.action-buttons {
    -fx-padding: 10 0 0 0;
    -fx-alignment: center;
    -fx-fill-height: true;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}