.results {
    -fx-alignment: center;
}

.points {
    -fx-text-fill: white;
    -fx-font-size: 28px;
}

.percentage {
    -fx-text-fill: white;
    -fx-font-size: 25px;
}

.action-buttons {
    -fx-alignment: center;
}

.quiz-name {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #02b7b3;
}