.title {
    -fx-text-fill: #02b7b3;
    -fx-font-size: 30px;
}

.time > * {
    -fx-text-fill: #fff;
    -fx-font-size: 25px;
}

.time > Icon {
    -fx-padding: 3px 5px 0;
}


.top {
    -fx-fit-to-width: true;
    -fx-alignment: center;
}

.content {
    -fx-padding: 0 0 0 20;
}

.question {
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-wrap-text: true;
}

.answer-box > * {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-padding: 10 0;
}

.answer-box > TextField {
    -fx-text-fill: #464646;
    -fx-padding: 5 10;
    -fx-pref-width: 300;
    -fx-border-radius: 5px;
}

.action-buttons {
    -fx-hgap: 10;
}