.title {
    -fx-text-fill: #02b7b3;
    -fx-font-size: 30px;
}

.time {
    -fx-text-fill: #fff;
    -fx-font-size: 25px;
}

.top {
    -fx-fit-to-width: true;
    -fx-alignment: center;
}

.content {
    -fx-padding: 0 0 0 20;
}

.question {
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
}

.answer {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-padding: 10 0;
}